section.tab
    .container
        .tab-primary
            a.tab-item.active(href="") Y học thường thức 
            a.tab-item(href="") Tin tức sự kiện 
            a.tab-item(href="") Hỏi đáp y khoa 
            a.tab-item(href="")  Video

section.medicine
    .container
        .section-title
            span Y HỌC THƯỜNG THỨC
            em.mdi.mdi-gamepad
                span
                span
        .row
            .col(class="w-full lg:w-1/2 pr-0")
                .faq-figure
                    .image-wrap.shine
                        a(href="")
                            img(data-src="./img/medicine/1.png", alt="").lazyload
            .col(class="w-full lg:w-1/2 pl-0")
                .wrap-text
                    time 30.10.2019
                    .title
                        a(href="") Vì sao nên thực hiện tầm soát ung thư ?
                    .content Tỉ lệ mắc ung thư đang có xu hướng tăng nhanh, số lượng người trẻ bị bệnh ngày càng cao. Năm 2018, Việt Nam có hơn 165.000 ca ung  thư mới, dự báo... con số này có thể lên đến 190.000 người vào cuối năm 2020  (Theo thống kê của Tổ chức Nghiên cứu ung thư quốc tế IARC). Do đó, việc tầm soát ung thư định kỳ là rất quan trọng để có thể phát hiện sớm và điều trị hiệu quả ung thư.....
                    .btn-left
                        a.btn.btn-primary.blue(href="")
                            span Xem chi tiết
        .row
            -for(i=0;i<6;i++)
                .col(class="w-full lg:w-4/12 md:w-6/12")
                    .news-figure
                        .image-wrap.zoom-in
                            a(href="#")
                                img(data-src="./img/medicine/2.png", alt="").lazyload
                        .content
                            time 09.05.2020
                            .title
                                a(href="#") KHÁM SỨC KHỎE TỔNG QUÁT NHỮNG ĐIỀU BẠN CẦN BIẾT
                            .caption Hiệp Hội Tim mạch Mỹ khuyến cáo, mỗi người độ tuổi từ 18 trở lên cần kiểm tra huyết áp hàng năm, nhằm tầm soát nguy cơ tăng huyết áp. Không những thế, khám tổng quát sẽ giúp bạn phát hiện và điều trị sớm các bệnh lý tiểu đường, huyết áp, mỡ máu, viêm gan,… dễ mắc phải. Do đó, độ tuổi 18 trở lên là thời điểm thích hợp để bắt đầu quan tâm việc khám sức khỏe tổng quát. Riêng với trẻ em, điều quan trọng lúc này là kiểm tra tình trạng dinh dưỡng và phát triển thể chất. 
                