section.facility-display
	.container
		.section-title
			span Cơ sở vật chát
			em.mdi.mdi-gamepad
				span
				span
		.sub-title Cơ sở vật chất và trang thiết bị của Phòng Khám Bệnh viện Đại học Y dược 1:
		.zone-description Phòng Khám có diện tích trên 5.000 m2 với quy mô gồm 30 phòng khám và các phòng chức năng. Được đầu tư cơ sở vật chất khang trang và trang thiết bị máy móc hiện đại của các thương hiệu hàng đầu thế giới như GE, Fuji, Olympus, Kart Stoz, Phillip,…: máy chụp cộng hưởng từ MRI 1.5, máy chụp cắt lớp CT scanner 128, máy X-Quang, máy đo loãng xương, máy siêu âm tim, siêu âm 4D, hệ thống máy xét nghiệm, máy nội soi tiêu hóa, nội soi tai mũi họng…., Phòng Khám Bệnh viện Đại học Y Dược 1 đáp ứng nhu cầu khám sức khoẻ toàn diện cho khách hàng ở mọi lứa tuổi, cho các cá nhân và công ty, cũng như chẩn đoán và điều trị ngoại trú các chuyên khoa nêu trên với mức chi phí hợp lý. Quan trọng hơn là Phòng Khám có một đội ngũ bác sĩ giàu kinh nghiệm, dịch vụ y tế chất lượng cao cùng sự chuyện nghiệp và tận tâm.
	.facility-swiper
		.swiper-container
			.swiper-wrapper
				-for(i=0;i<5;i++)
					.swiper-slide
						.grid-container
							.col-child.col-1
								a(href="#")
									img(src="./img/gallery/1.png", alt="")
							.col-child.col-2
								a(href="#")
									img(src="./img/gallery/2.png", alt="")
							.col-child.col-3
								a(href="#")
									img(src="./img/gallery/3.png", alt="")
							.col-child.col-4
								a(href="#")
									img(src="./img/gallery/4.png", alt="")
							.col-child.col-5
								.col-6.col-child-2
									a(href="#")
										img(src="./img/gallery/5.png", alt="")
								.col-7.col-child-2
									a(href="#")
										img(src="./img/gallery/6.png", alt="")
		.swiper-nav-wrap
			.button-bg-left
				.nav-arrow-prev
					.icon-chevron-left
			.button-bg-right
				.nav-arrow-next
					.icon-chevron-right 