footer
	section.footer-top
		.container
			.row
				.col.w-full(class='lg:w-6/12')
					.item
						.image-wrap
							img(data-src="./img/icon/ico-mail.png", alt="javascript:;").lazyload
						.content
							.title ĐĂNG KÝ NHẬN BẢN TIN
							.caption Để lại địa chỉ email để nhận thông tin y khoa và chương trình ưu đãi.
				.col.w-full(class='lg:w-6/12')
					.subscribe-wrap
						.subscribe 
							.subscribefrm
								input(type="text" placeholder='Địa chỉ email')
								button
									span Đăng ký
	section.footer-middle
		.container
			.row
				.col.w-full(class='md:w-1/2 xl:w-3/12')
					.address
						.item
							.image
								img(data-src="./img/icon/ico-hospital.png", alt="javascript:;").lazyload
							.text PHÒNG KHÁM BỆNH VIỆN ĐẠI HỌC Y DƯỢC 1
						ol
							li
								.icon
									img(data-src="./img/icon/ico-map.png", alt="").lazyload
								.caption
									span 20-22 Dương Quang Trung, Phường 12, Quận 10, TP.HCM
							li
								.icon
									img(data-src="./img/icon/ico-phone.png", alt="").lazyload
								.caption
									p
										strong 1800 6023
							li
								.icon
									img(data-src="./img/icon/ico-mail-2.png", alt="").lazyload
								.caption
									span.mail chamsockhachhang.pk1@umc.edu.vn
							li
								.icon
									img(data-src="./img/icon/ico-clock.png", alt="").lazyload
								.caption
									span Lịch làm việc:
									p Từ thứ 2 - thứ 7 (7:30 - 16:30)
				.col(class='w-1/2 md:w-1/2 xl:w-3/12 ')
					.title Liên kết nhanh
					ul
						li
							a(href="javascript:;") Giới thiệu
						li
							a(href="javascript:;") Chuyên khoa
						li
							a(href="javascript:;") Dịch vụ
						li
							a(href="javascript:;") Đội ngũ bác sĩ
						li
							a(href="javascript:;") Tin tức
						li
							a(href="javascript:;") Y học thường thức
						li
							a(href="javascript:;") Chương trình ưu đãi
						li
							a(href="javascript:;") Hướng dẫn khách hàng
						li
							a(href="javascript:;") Đăng ký khám
						li
							a(href="javascript:;") Liên hệ
				.col(class='w-1/2 md:w-1/2 xl:w-2/12')
					.title Chính sách
					ul
						li
							a(href="javascript:;") Chính sách hoạt động
						li
							a(href="javascript:;") Chính sách bảo mật
					.verify-icon
						a(href="#")
							img(data-src="./img/verify.png", alt="").lazyload
				.col.w-full(class=' md:w-1/2 xl:w-4/12')
					.title Chính sách
					.wrapper
						.link
							a(href="").wrap
								.icon
									img(data-src="./img/logo-3.png", alt="").lazyload
								span Cổng thông tin điện tử Sở Y tế TP. HCM
						.link
							a(href="").wrap
								.icon
									img(data-src="./img/logo-2.png", alt="").lazyload
								span Bệnh viện Đại học Y dược TP.HCM
					.social-network-wrap
						.fb-page(data-href='https://www.facebook.com/pkbvdhyd1' data-tabs='' data-width='' data-height='' data-small-header='false' data-adapt-container-width='true' data-hide-cover='false' data-show-facepile='true')
							blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/pkbvdhyd1')
								a(href='https://www.facebook.com/pkbvdhyd1') Phòng Khám Bệnh Viện Đại Học Y Dược 1


					.social-wrapper
						a(href="#")
							em.mdi.mdi-facebook
						a(href="#")
							em.mdi.mdi-youtube
						a(href="#")
							em.mdi.mdi-twitter
	section.footer-bottom
		.container
			.wrapper
				.copyright 2020 © Phòng khám Bệnh viện Đại Học Y Dược 1. Thiết kế website bởi Cánh Cam.
				.back-to-top
					em.lnr.lnr-chevron-up