section.home-our-mission
	.section-title
		span tại sao chọn chúng tôi
		em.mdi.mdi-gamepad
			span
			span
	.home-choose-us
		.swiper-container
			.swiper-wrapper
				-for(i=0;i<5;i++)
					.swiper-slide
						.item
							.wrap
								.image-wrap
									a(href="#")
										img(data-src="./img/news/1.jpg", alt="").swiper-lazy
								.content
									.title
										a(href="") Dịch vụ chuấn quốc tế
									.caption Phòng khám Bệnh viện Đại học Y Dược 1 được quản lý và vận hành theo tiêu chuẩn quốc tế, cơ sở vật chất hiện đại, tiện nghi, không gian khám chữa bệnh rộng rãi, sạch sẽ...
									.btn-center
										a(href="#").btn.btn-primary.blue
											span Xem thêm
		.swiper-nav-wrap
			.nav-arrow-prev
				.icon-chevron-left
			.nav-arrow-next
				.icon-chevron-right 