section.home-faq
	.container
		.section-title
			span Hỏi đáp cùng chuyên gia
			em.mdi.mdi-gamepad
				span
				span
		.row
			.col.w-full(class='lg:w-1/2')
				.faq-figure.big
					.image-wrap.shine
						a(href="#")
							img(data-src="./img/news/1.jpg", alt="").lazyload
					.content
						time 30.10.2019
						.sub-title.main 
							a(href="#") TẠI SAO BÉ BỊ VIÊM DA NHƯNG XÉT NGHIỆM KHÔNG TÌM ĐƯỢC NGUYÊN NHÂN
						.caption Có rất nhiều trường hợp các mẹ bỉm sữa có con bị viêm da cơ địa cho bé đến khám dị ứng tại Phòng khám Bệnh viện Đại học Y Dược 1 nói với Bác sĩ. Phòng khám rằng “ Em đã cho bé khám dị ứng ở nhiều nơi và được chỉ định làm test dị ứng (IgE đặc hiệu) rồi thậm chí làm cả xét nghiệm 36 dị nguyên... luôn nhưng ra kết quả âm tính, không tìm được nguyên nhân dị ứng của bé….
			.col.w-full(class='lg:w-1/2')
				-for(i=0;i<3;i++)
					.faq-figure.side
						.image-wrap.opacity
							a(href="#")
								img(data-src="./img/news/1.jpg", alt="").lazyload
						.content
							time 30.10.2019 
							.sub-title.main 
								a(href="#") TẠI SAO BÉ BỊ VIÊM DA NHƯNG XÉT NGHIỆM KHÔNG TÌM ĐƯỢC NGUYÊN NHÂN
							.caption Có rất nhiều trường hợp các mẹ bỉm sữa có con bị viêm da cơ địa cho bé đến khám dị ứng tại Phòng khám Bệnh viện Đại học Y Dược 1 nói với Bác sĩ. Phòng khám rằng “ Em đã cho bé khám dị ứng ở nhiều nơi và được chỉ định làm test dị ứng (IgE đặc hiệu) rồi thậm chí làm cả xét nghiệm 36 dị nguyên... luôn nhưng ra kết quả âm tính, không tìm được nguyên nhân dị ứng của bé….
					