section.tutorial-client
	.container
		.section-title
			span Hướng dẫn khách hàng
			em.mdi.mdi-gamepad
				span
				span
		.row
			.col(class="w-full lg:w-1/2 pr-0")
				.faq-figure
					.image-wrap.shine
						a(href="")
							img(src="./img/tutorial/1.png", alt="").lazyloaded
			.col(class="w-full lg:w-1/2 pl-0")
				.wrap-text
					.title
						a(href="") Quyết định số 6769/QĐ-BYT ngày 08 /11/2018 của Bộ trưởng Bộ Y tế ban hành tài liệu Hướng dẫn quy trình kỹ thuật chuyên ngành Vi sinh
					.content Quyết định số 6769 /QĐ-BYT ngày 08 tháng 11 năm 2018 của Bộ trưởng Bộ Y tế về việc ban hành tài liệu Hướng dẫn quy trình kỹ thuật chuyên ngành Vi sinh. Quyết định số 6769 /QĐ-BYT ngày 08 tháng 11 năm 2018 của Bộ trưởng Bộ Y tế về việc ban hành tài liệu Hướng dẫn quy trình kỹ thuật chuyên ngành Vi sinh
					.btn-left
						a.btn.btn-primary.blue(href="")
							span Xem chi tiết
		.row
			-for(i=0;i<3;i++)
				.col(class="w-full lg:w-4/12")
					.news-figure
						.image-wrap.opacity
							a(href="#")
								img(src="./img/tutorial/2.png", alt="").swiper-lazy
						.content
							.title
								a(href="#") Quyết định 2831/QĐ-BYT ngày 0472019 của Bộ Y tế ban hành tài liệu hướng dẫn...