section.service
    .container
        .section-title
            span Khám sức khỏe tổng quát cá nhân
            em.mdi.mdi-gamepad
                span
                span
        .row
            .col(class="w-full lg:w-1/2 pr-0")
                .service-figure
                    .image-wrap.shine
                        a(href="")
                            img(src="./img/service/1.jpg", alt="").lazyloaded
            .col(class="w-full lg:w-1/2 pl-0")
                .service-text
                    .title
                        a(href="") Khám sức khỏe tổng quát và tầm kiểm soát ung thư
                    .content Quyết định số 6769 /QĐ-BYT ngày 08 tháng 11 năm 2018 của Bộ trưởng Bộ Y tế về việc ban hành tài liệu Hướng dẫn quy trình kỹ thuật chuyên ngành Vi sinh. Quyết định số 6769 /QĐ-BYT ngày 08 tháng 11 năm 2018 của Bộ trưởng Bộ Y tế về việc ban hành tài liệu Hướng dẫn quy trình kỹ thuật chuyên ngành Vi sinh
                    .btn-left
                        a.btn.btn-primary.blue(href="")
                            span Xem chi tiết
        .row
            -for(i=0;i<3;i++)
                .col(class="w-full lg:w-4/12")
                    .news-figure
                        .image-wrap.zoom-in
                            a(href="#")
                                img(src="./img/service/2.jpg", alt="").lazyloaded
                        .content
                            .title
                                a(href="#") Gói khám sức khỏe tổng quát chuyên sâu
                            .caption Khi lựa chọn gói khám sức khỏe tổng quát chuyên sâu, bạn luôn muốn gói khám kiểm tra được bao quát tình hình sức khỏe