<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->
  <templatelist xsltname="News-List.xslt" name="Danh sách Tin tức"></templatelist>
  <templatelist xsltname="Medical-News.xslt" name="Danh sách Tin tức Y Học"></templatelist>
  <templatelist xsltname="Guide-News.xslt" name="Danh sách Hướng  dẫn khách hàng"></templatelist>
  <templatelist xsltname="Doctor.xslt" name="Danh sách Bác sĩ"></templatelist>



  <templatedetail xsltname="Facility-Detail.xslt" name="Chi tiết Cơ sở vật chất"></templatedetail>
  <templatedetail xsltname="News-Detail.xslt" name="Chi tiết Tin tức"></templatedetail>
  <templatedetail xsltname="News-Detail-Faq.xslt" name="Chi tiết Tin tức hỏi đáp"></templatedetail>

  <templatedetail xsltname="Doctor-Detail.xslt" name="Chi tiết Bác Sĩ"></templatedetail>
  <templatedetail xsltname="Specialist-Detail.xslt" name="Chi tiết Chuyên khoa"></templatedetail>
  <position>
    <add name="Trang chủ - Tin tức sự kiện" value="1" resourcefile="" />
    <add name="Trang chủ - Y học thưởng thức" value="2" resourcefile="" />
    <add name="Trang chủ - Hỏi đáp cùng chuyên gia" value="4" resourcefile="" />
  </position>
</templates>