section.medical-answer-detail
    .container
        .title Hỏi đáp về bệnh lý tai - mũi - họng
        .section-social
            time 09.05.2020
            .social
                a(href="")
                    em.mdi.mdi-facebook
                a(href="")
                    em.mdi.mdi-twitter
        .anwser-question
            p Tỉ lệ mắc ung thư đang có xu hướng tăng nhanh, số lượng người trẻ bị bệnh ngày càng cao. Năm 2018, Việt Nam có hơn 165.000 ca ung thư mới, dự báo con số này có thể lên đến 190.000 người vào cuối năm 2020 (Theo thống kê của Tổ chức Nghiên cứu ung thư quốc tế IARC). Do đó, việc tầm soát ung thư định kỳ là rất quan trọng để có thể phát hiện sớm và điều trị hiệu quả ung thư.
            img(src="./img/medicine-answer/6.png", alt="").lazyloaded
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            img(src="./img/medicine-answer/6.png", alt="").lazyloaded
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            img(src="./img/medicine-answer/6.png", alt="").lazyloaded
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            ul
                li Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates molestias perferendis, quibusdam alias cum illo porro beatae magnam rerum harum ipsam nostrum reiciendis consequatur dignissimos maxime fugiat quas ratione voluptatum?

section.medical-answer-detail-2
    .container
        .title PHÒNG KHÁM BỆNH VIỆN ĐẠI HỌC Y DƯỢC 1
        .content
            span + 20-22 Dương Quang Trung, Phường 12, Quận 10
            span + Hotline: 1800 6023
            span + Website: www.umcclinic.com.vn
        .row
            .col(class="w-full lg:w-10/12")
                .section-card
                    a.image-wrap.shine(href="#")
                        img(src="./img/medicine-answer/6.png", alt="")
                    .wrap-text
                        .name PGS.TS.BS Lê Anh Thư
                        .desc Số năm kinh nghiệm: 10 năm
                        .desc Bằng cấp chuyên môn: Phó giáo sư tiến sĩ chuyên khoa Nhi
                        .wrap-btn
                            .btn-left
                                a.btn.btn-primary.blue(href="")
                                    span Xem chi tiết
                            .btn-left.medical-check-banner
                                a.btn.btn-booking(href="")
                                    span Đặt lịch khám
                                    em.mdi.mdi-calendar
section.news-other.mb-80
    .container
        .section-title
            span tin tức khác
            em.mdi.mdi-gamepad
                span
                span
        .swiper-news-other
            .swiper-container
                .swiper-wrapper
                    -for(i=0;i<6;i++)
                        .swiper-slide
                            .news-figure
                                .image-wrap.opacity
                                    a(href="#")
                                        img(src="./img/medicine-answer/6.png", alt="").lazyloaded
                                .content
                                    time 09.05.2020
                                    .title
                                        a(href="#") Cách phòng ngừa viêm khớp thấp
            .swiper-nav-wrap
                .nav-arrow-prev
                    .icon-chevron-left
                .nav-arrow-next
                    .icon-chevron-right