section.thankyou
	.container
		.img.mx-auto
			img(src="./img/tks.png", alt="")
		h1.title Bạn đã đặt lịch hẹn thành công
		p.content Cảm ơn bạn đã đặt lịch khám sức khỏe tại Phòng Khám Bệnh Viện Đại Học Y Dược 1
		p.content Nhân viên của chúng tôi sẽ liên hệ để tư vấn chi tiết. Trong trường hợp cần thiết vui lòng liên hệ với chúng tôi
		.medical-check-banner
			.banner-content
				.brand-logo
					a(href="#")
						img(src="./img/logo-ico.png", alt="")
				h2.name Phòng khám bệnh viên đại học y dược 1
				p.name.name-cover 20 - 2 Dương Quang Trung, P.12, Quận 10, TP.HCM
				.phone-wrap
					em.mdi.mdi-phone-in-talk
					span 1800 6023
				.text Thời giam làm việc
				.time-wrap
					.item
						span Từ thứ hai - Thứ bảy 
					.item
						em.mdi.mdi-clock-outline
						span 07: 30 - 16: 30