section.about
	.container
		.section-title
			span Về chúng tôi
			em.mdi.mdi-gamepad
				span
				span
		.text Với tâm huyết nâng cao chất lượng và tạo điều kiện thuận lợi cho người dân ngày càng tiếp cận dễ dàng hơn với các dịch vụ y tế chất lượng cao và hiện đại
	.big-bg
		.row
			.col.w-full(class='lg:w-1/2')
				.img-wrapper
					img(data-src="./img/about/1.png", alt="").lazyload
			.col.w-full(class='lg:w-1/2')
				.background
					.content
						p Phòng khám Bệnh Viện Đại Học Y Dược là 1 phòng khám đầu tiên được thành lập theo mô hình hợp tác công - tư giữa Bệnh viện Đại Học Y Dược TP.HCM và công ty cổ phần Y Việt - Phòng khám bệnh viện Đại Học Y Dược 1. Phòng khám chính thức khai trương đi vào hoạt động từ 03 tháng 03 năm 2018
						p Phòng khám Bệnh Viện Đại Học Y Dược là 1 phòng khám đầu tiên được thành lập theo mô hình hợp tác công - tư giữa Bệnh viện Đại Học Y Dược TP.HCM và công ty cổ phần Y Việt - Phòng khám bệnh viện Đại Học Y Dược 1. Phòng khám chính thức khai trương đi vào hoạt động từ 03 tháng 03 năm 2018

section.about-2
	.container
		.section-title
			span Tầm nhìn - Sứ mệnh
			em.mdi.mdi-gamepad
				span
				span
		.row
			.col.w-full(class='lg:w-1/2')
				.about-figure
					.img-wrapper
						img(data-src="./img/about/2.png", alt="").lazyload
					h2.caption Tầm nhìn
					.content
						p Trở thành phòng khám đa khoa chất lượng cao dẫn đầu Việt Nam và đạt chuẩn quốc tế.
						
			.col.w-full(class='lg:w-1/2')
				.about-figure
					.img-wrapper
						img(data-src="./img/about/2.png", alt="").lazyload
					h2.caption Sứ mệnh
					.content
						p Xây dựng mô hình chuẩn mực phòng khám đa khoa cung cấp dịch vụ khám bệnh, chữa bệnh chất lượng cao làm hài lòng người bệnh.

section.about-3
	.container
		.section-title
			span Giá trị - Cốt lõi
			em.mdi.mdi-gamepad
				span
				span
		.row
			.col.w-full(class='md:w-6/12 lg:w-3/12')
				.big-img
					.border-img
						.image-wrap
							a(href="#")
								img(data-src="./img/about/icon.png", alt="").lazyload
					.text Tiên phong
			.col.w-full(class='md:w-6/12 lg:w-3/12')
				.big-img
					.border-img
						.image-wrap
							a(href="#")
								img(data-src="./img/about/icon.png", alt="").lazyload
					.text Thấu hiểu
					
			.col.w-full(class='md:w-6/12 lg:w-3/12')
				.big-img
					.border-img
						.image-wrap
							a(href="#")
								img(data-src="./img/about/icon.png", alt="").lazyload
					.text Chuẩn mực
			.col.w-full(class='md:w-6/12 lg:w-3/12')
				.big-img
					.border-img
						.image-wrap
							a(href="#")
								img(data-src="./img/about/icon.png", alt="").lazyload
					.text An toàn
