extends _layout.pug

block var
	- var title = 'Y HỌC THƯỞNG THỨC'
	- var bodyClass = 'specialized-page'

block main
	include ../components/Admin_UI/top-banner/index.pug
	include ../components/medical/index.pug
	include ../components/Admin_UI/pagination/index.pug