extends _layout.pug

block var
	- var title = 'Đội ngũ chi tiết'
	- var bodyClass = 'team-doctor-detail-page'

block main
	include ../components/Admin_UI/top-banner/index.pug
	include ../components/team-doctor/team-doctor-detail/index.pug