extends _layout.pug

block var
	- var title = 'Đội ngũ'
	- var bodyClass = 'team-doctor-page'

block main
	include ../components/Admin_UI/top-banner/index.pug
	include ../components/team-doctor/index.pug