section.medical-answer
	.container
		.title Hỏi đáp về bệnh lý tai - mũi - họng
		.section-social
			time 09.05.2020
			.social
				a(href="")
					em.mdi.mdi-facebook
				a(href="")
					em.mdi.mdi-twitter
		.row
			.col(class="w-full lg:w-10/12")
				.section-card
					a.image-wrap.shine(href="#")
						img(src="./img/medicine-answer/6.png", alt="")
					.wrap-text
						.name PGS.TS.BS Lê Anh Thư
						.desc Số năm kinh nghiệm: 10 năm
						.desc Bằng cấp chuyên môn: Phó giáo sư tiến sĩ chuyên khoa Nhi
						.wrap-btn
							.btn-left
								a.btn.btn-primary.blue(href="")
									span Xem chi tiết
							.btn-left.medical-check-banner
								a.btn.btn-booking(href="")
									span Đặt lịch khám
									em.mdi.mdi-calendar
				.anwser-question
					.question 1/ Thưa bác sĩ, gần đây trên mạng xã hội có truyền nhau thông tin “Ăn hoa quả phải ăn lúc đói”. Vậy bác sĩ cho tôi hỏi nên ăn hoa quả trước hay sau bữa ăn sẽ tốt hơn?
					p 
						strong Trả lời: 
						span Quả chín là nguồn cung cấp các vitamin và khoáng chất cần thiết cho sự sống và phát triển của cơ thể, giúp bảo vệ cơ thể và tăng cường sức khỏe chống lại bệnh tật
					p Vậy ăn quả chín vào thời điểm nào thì tốt cho cơ thể?
					p Tuy quả chín chứa nhiều chất dinh dưỡng nhưng thời điểm ăn tùy thuộc vào trạng thái của cơ thể, các bệnh lý kèm theo. Với quan điểm sử dụng enzym tự nhiên có trong quả chính (nhân tố enzym), chúng ta nên ăn quả chín trước bữa ăn khoảng 30 phút.
					p Đối với người có bệnh lý kèm theo ví dụ như đái tháo đường, nên lựa chọn quả chín có chỉ số đường huyết thấp, có thể thử bằng nếm. Nếu ngọt là chỉ số đường máu cao, không nên ăn. Và thời điểm ăn là giữa 2 bữa ăn, ví dụ: Ăn sáng lúc 7 giờ, ăn trưa lúc 11 giờ thì ăn quả chín lúc 9 giờ, nhằm tránh hạ đường máu khi đói và tăng đường máu sau ăn.
					p Ngoài ra, khi chọn quả chín, nên chọn đa dạng về chủng loại và màu sắc, vì mỗi loại màu sắc có một công dụng khác nhau.
					.image-wrap
						img(src="./img/medicine-answer/6.png", alt="").lazyloaded
					.question 2/ Thưa Bác sỹ, theo tôi được biết hiện tại đang có dịch sốt xuất huyết, tôi nuôi con nhỏ nên rất lo lắng. Vậy Bác sỹ có thể cho tôi biết các dấu hiệu của bệnh và cách điều trị tại nhà trước khi đưa đến Bệnh viện được không ạ? Cảm ơn Bác sỹ.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					.image-wrap
						img(src="./img/medicine-answer/6.png", alt="").lazyloaded
					.question 3/ Thưa bác sĩ, thời tiết đang chuyển sang mùa lạnh. Vào mùa này, trẻ thường dễ mắc những bệnh hô hấp gì? Biểu hiện của chúng như thế nào?
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					.image-wrap
						img(src="./img/medicine-answer/6.png", alt="").lazyloaded
					.question 4/ Chào Bác sĩ! Bác sĩ cho em hỏi chi phí thuốc chống đào thải sau phẫu thật ghép gan là bao nhiêu và cách chăm sóc bệnh nhân sau ghép gan như thế nào ạ. Em cảm ơn
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
section.news-other
	.container
		.section-title
			span tin tức khác
			em.mdi.mdi-gamepad
				span
				span
		.swiper-news-other
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.news-figure
								.image-wrap.opacity
									a(href="#")
										img(src="./img/medicine-answer/6.png", alt="").lazyloaded
								.content
									time 09.05.2020
									.title
										a(href="#") Cách phòng ngừa viêm khớp thấp
			.swiper-nav-wrap
				.nav-arrow-prev
					.icon-chevron-left
				.nav-arrow-next
					.icon-chevron-right