section.home-news.news-display
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.section-title
					span Tin tức sự kiện
					em.mdi.mdi-gamepad
						span
						span
				.home-news-event.single-swiper
					.swiper-container
						.swiper-wrapper
							-for(i=0;i<5;i++)
								.swiper-slide
									.row
										.col.w-full
											.news-figure.big
												.image-wrap.zoom-in
													a(href="#")
														img(data-src="./img/news/1.jpg", alt="").swiper-lazy
												.content
													time 09.05.2020
													.title
														a(href="#") Chức mừng ngày của cha vè mẹ năm 2020
													.caption GỬI TRAO SỨC KHOẺ, TRỌN NGHĨA YÊU THƯƠNG .Cuộc sống bộn bề với nhiều lo toang đôi khi khiến... bạn vô tâm với chính bản thân mình. Nhưng có một điều bạn phải luôn ghi nhớ đó là sức khoẻ của Cha, Mẹ.
										.col.w-full(class='sm:w-1/2')
											.news-figure
												.image-wrap.opacity
													a(href="#")
														img(data-src="./img/news/1.jpg", alt="").swiper-lazy
												.content
													time 09.05.2020
													.title
														a(href="#") Chức mừng ngày của cha vè mẹ năm 2020
										.col.w-full(class='sm:w-1/2')
											.news-figure
												.image-wrap.opacity
													a(href="#")
														img(data-src="./img/news/1.jpg", alt="").swiper-lazy
												.content
													time 09.05.2020
													.title
														a(href="#") Chức mừng ngày của cha vè mẹ năm 2020
					.paginatio-wrap
						.swiper-pagination
			.col.w-full(class='lg:w-1/2')
				.section-title
					span Y học thưởng thức
					em.mdi.mdi-gamepad
						span
						span
				.home-medical-news.single-swiper
					.swiper-container
						.swiper-wrapper
							-for(i=0;i<5;i++)
								.swiper-slide
									.row
										.col.w-full
											.news-figure.big
												.image-wrap.zoom-in
													a(href="#")
														img(data-src="./img/news/1.jpg", alt="").swiper-lazy
												.content
													time 09.05.2020
													.title
														a(href="#") Chức mừng ngày của cha vè mẹ năm 2020
													.caption GỬI TRAO SỨC KHOẺ, TRỌN NGHĨA YÊU THƯƠNG .Cuộc sống bộn bề với nhiều lo toang đôi khi khiến... bạn vô tâm với chính bản thân mình. Nhưng có một điều bạn phải luôn ghi nhớ đó là sức khoẻ của Cha, Mẹ.
										.col.w-full(class='sm:w-1/2')
											.news-figure
												.image-wrap.opacity
													a(href="#")
														img(data-src="./img/news/1.jpg", alt="").swiper-lazy
												.content
													time 09.05.2020
													.title
														a(href="#") Chức mừng ngày của cha vè mẹ năm 2020
										.col.w-full(class='sm:w-1/2')
											.news-figure
												.image-wrap.opacity
													a(href="#")
														img(data-src="./img/news/1.jpg", alt="").swiper-lazy
												.content
													time 09.05.2020
													.title
														a(href="#") Chức mừng ngày của cha vè mẹ năm 2020
					.paginatio-wrap
						.swiper-pagination