<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Main Menu" value="1" resourcefile="" />
      <add name="Menu Footer 1" value="2" resourcefile="" />
      <add name="Menu Footer 2" value="4" resourcefile="" />
      <add name="Home Service" value="8" resourcefile="" />
      <add name="Home Specialist" value="16" resourcefile="" />
      <add name="Doctor Zone" value="32" resourcefile="" />
    </position>

</settings>