section.doctor-detail-1
	.container
		.section-title
			span Đội ngũ bác sĩ
			em.mdi.mdi-gamepad
				span
				span
		.border-bottom
			.row
				.col(class="w-full lg:w-3/12")
					.section-card
						a.image-wrap.shine(href="#")
							img(src="./img/team-doctor/1.jpg", alt="")
				.col(class="w-full lg:w-9/12 relative")
					.section-card
						.wrap-text
							.name PGS.TS.BS Lê Anh Thư
							.desc Số năm kinh nghiệm: 10 năm
							.desc Bằng cấp chuyên môn: Phó giáo sư tiến sĩ chuyên khoa Nhi
							.content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan l
							.wrap-btn
								.btn-left.medical-check-banner
									a.btn.btn-booking(href="")
										span Đặt lịch khám
										em.mdi.mdi-calendar
		.news-detail
			.content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
			.image-wrap
				img(src="./img/team-doctor/1.jpg", alt="").lazyloaded
			.content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
			.image-wrap
				img(src="./img/team-doctor/1.jpg", alt="").lazyloaded
			.content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.

section.doctor-detail-2
	.container
		.section-title
			span lịch khám
			em.mdi.mdi-gamepad
				span
				span
		table
			tr
				td Buổi / Thứ
				td Thứ 2
				td Thứ 3
				td Thứ 4
				td Thứ 5
				td Thứ 6
				td Thứ 7
				td CN      
			tr
				td Sáng
				td
					em.mdi.mdi-checkbox-marked-circle
				td 
				td 
				td 
					em.mdi.mdi-checkbox-marked-circle
				td 
					em.mdi.mdi-checkbox-marked-circle
				td 
					em.mdi.mdi-checkbox-marked-circle
				td      
			tr
				td Chiều
				td
				td 
					em.mdi.mdi-checkbox-marked-circle
				td
					em.mdi.mdi-checkbox-marked-circle
				td
				td 
					em.mdi.mdi-checkbox-marked-circle
				td
					em.mdi.mdi-checkbox-marked-circle
				td
					em.mdi.mdi-checkbox-marked-circle

section.doctor-detail-3
	.container
		.section-title
			span Bài viết y khoa
			em.mdi.mdi-gamepad
				span
				span
		.row
			-for(i=0;i<3;i++)
				.col(class="w-full lg:w-4/12")
					.news-figure
						.image-wrap.opacity
							a(href="#")
								img(src="./img/team-doctor/1.jpg", alt="").lazyloaded
						.content
							time 09.05.2020
							.title
								a(href="#") Cách phòng ngừa viêm khớp thấp
section.doctor-detail-4
	.container
		.section-title
			span Bác sĩ cùng khoa
			em.mdi.mdi-gamepad
				span
				span
		.silde-doctor-detail
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<4;i++)
						.swiper-slide
							.wapper-doctor
								.image-wrap
									a(href="#")
										img(data-src="./img/team-doctor/1.jpg", alt="").swiper-lazy
								.wrap-panel
									.name PGS.TS.BS Lê Anh Thư
									.btn-center
										a.btn.btn-view-more(href="") Xem chi tiết
			.swiper-nav-wrap
				.nav-arrow-prev
					.icon-chevron-left
				.nav-arrow-next
					.icon-chevron-right