section.specialized
	.container
		.section-title
			span Chuyên khoa
			em.mdi.mdi-gamepad
				span
				span
<<<<<<< HEAD
		.row.mx-auto
			-for(i=0;i<10;i++)
				.col.w-full(class='lg:w-5/12')
=======
		.row
			-for(i=0;i<5;i++)
				.col.w-full(class='md:w-6/12 ')
>>>>>>> 4cd114b0f554c826373f52087ea9580303fa8842
					.specialist-item
						.image-wrap
							a(href="#")
								img(data-src="./img/icon/ico-5.png", alt="").lazyload
						.content
							.sub-title
								a(href="#") chuẩn đoán hình ảnh
							.btn-left
								a.btn.btn-view-more
<<<<<<< HEAD
									span Xem chi tiết
=======
									span Xem chi tiết
			//- .col.w-full(class='md:w-6/12 ')
			//- 	-for(i=0;i<5;i++)
			//- 		.specialist-item
			//- 			.image-wrap
			//- 				a(href="#")
			//- 					img(data-src="./img/icon/ico-5.png", alt="").lazyload
			//- 			.content
			//- 				.sub-title
			//- 					a(href="#") chuẩn đoán hình ảnh
			//- 				.btn-left
			//- 					a.btn.btn-view-more
			//- 						span Xem chi tiết
>>>>>>> 4cd114b0f554c826373f52087ea9580303fa8842
