section.specialized
	.container
		.section-title
			span Chuyên khoa
			em.mdi.mdi-gamepad
				span
				span
		.row.mx-auto
			-for(i=0;i<10;i++)
				.col.w-full(class='lg:w-5/12')
					.specialist-item
						.image-wrap
							a(href="#")
								img(data-src="./img/icon/ico-5.png", alt="").lazyload
						.content
							.sub-title
								a(href="#") chuẩn đoán hình ảnh
							.btn-left
								a.btn.btn-view-more
									span Xem chi tiết
