.team-doctor
	padding: 50/16*1rem 0 40/16*1rem
	.pad-l-30
		padding-left: 30/16*1rem
		@media screen and ( max-width: 576px )
			padding-left: 15px
	.section-title
		margin-bottom: 30/16*1rem
	.section-list
		.list-header
			display: flex
			justify-content: center
			align-items: center
			color: #ffffff
			font-size: 24/16*1rem
			font-weight: 700
			letter-spacing: 0.24px
			background-color: #27519e
			padding: 20/16*1rem 0
		.list-body
			padding: 18/16*1rem 69/16*1rem 30/16*1rem 19/16*1rem
			background-color: #f0f9fd
			@media screen and ( max-width: 1024px )
				padding: 30/16*1rem
			.list-item
				display: block
				color: #333333
				font-size: 1rem
				font-weight: 400
				letter-spacing: 0.16px
				margin-bottom: 30/16*1rem
				@media screen and ( max-width: 1024px )
					text-align: center
				&:last-child
					margin-bottom: 0
				&:hover
					color: #27519e
					font-weight: 700
	.title
		text-transform: none
		font-size: 24/16*1rem
		font-weight: 700
		letter-spacing: 0.24px
		color: #333333
		margin-bottom: 30/16*1rem
		@media screen and ( max-width: 1024px )
			text-align: center
.section-card
	display: flex
	background-color: #f0f9fd
	margin-bottom: 30/16*1rem
	&:last-child
		margin-bottom: 0
	@media screen and ( max-width: 576px )
		display: block
	.image-wrap
		display: block
		width: 285px
		height: 350px
		@media screen and ( max-width: 576px )
			width: auto
		img
			width: 100%
			height: 100%
			object-fit: cover
			object-position: center
	.wrap-text
		padding: 55/16*1rem 30/16*1rem 45/16*1rem
		@media screen and ( max-width: 576px )
			padding: 30/16*1rem
		.name
			font-size: 24/16*1rem
			font-weight: 700
			color: #27519e
			line-height: 24/16*1rem
			margin-bottom: 30/16*1rem
		.wrap-btn
			display: flex
			margin-top: 115/16*1rem
			@media screen and ( max-width: 768px )
				display: block
				margin-top: 80/16*1rem
				.btn-left
					@apply btn-center
			.medical-check-banner
				padding: 0
				margin-left: 30/16*1rem
				@media screen and ( max-width: 768px )   
					margin-left: 0
					margin-top: 20/16*1rem 
				.btn-booking
					height: 40px
					margin-bottom: 0
					em
						width: 38px
						height: 38px
						right: 0
						top: -0