section.specialized-detail
	.container
		.section-title
			span Hô hấp và dị ứng miễn dịch lâm sàng
			em.mdi.mdi-gamepad
				span
				span
		.row
			.col.w-full(class='lg:w-full')
				.spe-detail-wrapper
					article
						.fullcontent
							.content-read-more
								.img-wrapper
									a(href="#")
										img(data-src="./img/spe-detail/1.png", alt="").lazyload 
								.desc 
									p Đơn vị hô hấp và dị ứng miễn dịch lâm sàng của phòng khám đại học y dược 1 đứng đầu là PGS.TS.BS Lê thị tuyết lan cùng nhiều chuyên gia trong ngành lĩnh vực hô hấp, đã được đào tạo trong và ngoài nước 
									p Đơn vị Hố Hấp và Dị ứng miễn dịch chuẩn đoán và điều trị các bệnh lý p Bệnh lý về Hô hấp: hen, bệnh phổi tắc nghẹn mạn tính (COPD), ho kéo dài, viêm hô hấp, khó thở không rõ nguyên nhân, ngáy và ngưng lúc thở 
									p Đơn vị hô hấp và dị ứng miễn dịch lâm sàng của phòng khám đại học y dược 1 đứng đầu là PGS.TS.BS Lê thị tuyết lan cùng nhiều chuyên gia trong ngành lĩnh vực hô hấp, đã được đào tạo trong và ngoài nước 
									p Đơn vị Hố Hấp và Dị ứng miễn dịch chuẩn đoán và điều trị các bệnh lý p Bệnh lý về Hô hấp: hen, bệnh phổi tắc nghẹn mạn tính (COPD), ho kéo dài, viêm hô hấp, khó thở không rõ nguyên nhân, ngáy và ngưng lúc thở 
								h2.title Các phương pháp tham dò chức năng hô hấp được triển khai tại phòng khám 
								.img-wrapper 
									a(href="#") 
										img(data-src="./img/spe-detail/1.png", alt="").lazyload 
								.desc 
									p 1. Đơn vị hô hấp và dị ứng miễn dịch lâm sàng của phòng khám đại học y dược 1 đứng đầu là PGS.TS.BS Lê thị tuyết lan cùng nhiều chuyên gia trong ngành lĩnh vực hô hấp, đã được đào tạo trong và ngoài nước 
									p 2. Đơn vị Hố Hấp và Dị ứng miễn dịch chuẩn đoán và điều trị các bệnh lý 
									p 3. Bệnh lý về Hô hấp: hen, bệnh phổi tắc nghẹn mạn tính (COPD), ho kéo dài, viêm hô hấp, khó thở không rõ nguyên nhân, ngáy và ngưng lúc thở
								
						.btn-wrapper-center
							.btn-view-more
								a Xem Thêm
								em.mdi.mdi-chevron-down
				.spe-news-slide
					.section-title-zone
						span Một số hình ảnh về chuyên khoa hô hấp và dị ứng miễn dịch lâm sàng
					.silde-spe-detail
						.swiper-container
							.swiper-wrapper
								-for(i=0;i<3;i++)
									.swiper-slide
										.image-wrap.zoom-in
											a(href="#")
												img(data-src="./img/spe-detail/2.png", alt="").swiper-lazy
						.swiper-nav-wrap
							.nav-arrow-prev
								.icon-chevron-left
							.nav-arrow-next
								.icon-chevron-right

section.specialized-detail-2
	.container
		.section-title
			span Chuyên khoa khác
			em.mdi.mdi-gamepad
				span
				span
		.silde-spe-detail-2
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<12;i++)
						.swiper-slide
							.wrapper
								.image-wrap
									a(href="#")
										img(data-src="./img/icon/ico-9.png", alt="").swiper-lazy
								.text-icon Cơ xương - khớp
			.swiper-nav-wrap
				.nav-arrow-prev
					.icon-chevron-left
				.nav-arrow-next
					.icon-chevron-right

		.service-check-banner
			.image-wrap
				a(href="#")
					img(src="./img/service-detail/bg.png", alt="")
			.banner-content
				.brand-logo
					a(href="#")
						img(src="./img/logo-ico.png", alt="")
				h2.name Phòng khám bệnh viên đại học y dược
				.phone-wrap
					em.mdi.mdi-phone-in-talk
					span 1800 6023
				.text Thời giam làm việc
				.time-wrap
					.item
						span Từ thứ hai - Thứ bảy 
					.item
						em.mdi.mdi-clock-outline
						span 07: 30 - 16: 30
				.btn-center
					a(href="#").btn.btn-booking
						span Đặt lịch khám 
						em.mdi.mdi-calendar