section.service-detail
    .container
        .row
            .col.w-full(class='lg:w-1/2')
                .img-wrapper.shine
                    a(href="#")
                        img(data-src="./img/service-detail/1.png", alt="").lazyload
            .col.w-full(class='lg:w-1/2')
                .section-title
                    span Giới thiệu
                    em.mdi.mdi-gamepad
                        span
                        span
                .content-sce-detail
                    P Nguồn động lực được xem là nguồn tài sản vô giá đối với mỗi doanh nghiệp một doanh nghiệp có nguồn nhân lực chất lượng, và được vận hành hiệu quả sẽ tác động rất nhiều đến sự thất bại của Doanh nghiệp đó.
                    P Nguồn động lực được xem là nguồn tài sản vô giá đối với mỗi doanh nghiệp một doanh nghiệp có nguồn nhân lực chất lượng, và được vận hành hiệu quả sẽ tác động rất nhiều đến sự thất bại của Doanh nghiệp đó.
                    P Nguồn động lực được xem là nguồn tài sản vô giá đối với mỗi doanh nghiệp một doanh nghiệp có nguồn nhân lực chất lượng, và được vận hành hiệu quả sẽ tác động rất nhiều đến sự thất bại của Doanh nghiệp đó.
                    P Nguồn động lực được xem là nguồn tài sản vô giá đối với mỗi doanh nghiệp một doanh nghiệp có nguồn nhân lực chất lượng, và được vận hành hiệu quả sẽ tác động rất nhiều đến sự thất bại của Doanh nghiệp đó.


section.service-detail-2
    .container
        .row
            .col.w-full(class='lg:w-1/2')
                .img-wrapper.shine
                    a(href="#")
                        img(data-src="./img/service-detail/1.png", alt="").lazyload
            .col.w-full(class='lg:w-1/2')
                .section-title
                    span Hồ sơ và báo cáo sức khỏe cho doanh nghiệp
                    em.mdi.mdi-gamepad
                        span
                        span
                .content-sce-detail
                     ul
                        li
                            p Nguồn động lực được xem là nguồn tài sản vô giá đối với mỗi doanh nghiệp một doanh nghiệp có nguồn nhân lực chất lượng, và được vận hành hiệu quả sẽ tác động rất nhiều đến sự thất bại của Doanh nghiệp đó.
                        li
                            p Nguồn động lực được xem là nguồn tài sản vô giá đối với mỗi doanh nghiệp một doanh nghiệp có nguồn nhân lực chất lượng, và được vận hành hiệu quả sẽ tác động rất nhiều đến sự thất bại của Doanh nghiệp đó.
                        li
                            p Nguồn động lực được xem là nguồn tài sản vô giá đối với mỗi doanh nghiệp một doanh nghiệp có nguồn nhân lực chất lượng, và được vận hành hiệu quả sẽ tác động rất nhiều đến sự thất bại của Doanh nghiệp đó.

        .row
            .col.w-full(class='lg:w-1/2')
                .img-wrapper.shine
                    a(href="#")
                        img(data-src="./img/service-detail/1.png", alt="").lazyload
            .col.w-full(class='lg:w-1/2')
                .section-title
                    span Lý do doanh nghiệp nên chọn phòng khám bệnh viện đại học y dược 1
                    em.mdi.mdi-gamepad
                        span
                        span
                .content-sce-detail
                    ul
                        li
                            p Nguồn động lực được xem là nguồn tài sản vô giá đối với mỗi doanh nghiệp một doanh nghiệp có nguồn nhân lực chất lượng, và được vận hành hiệu quả sẽ tác động rất nhiều đến sự thất bại của Doanh nghiệp đó.
                        li
                            p Nguồn động lực được xem là nguồn tài sản vô giá đối với mỗi doanh nghiệp một doanh nghiệp có nguồn nhân lực chất lượng, và được vận hành hiệu quả sẽ tác động rất nhiều đến sự thất bại của Doanh nghiệp đó.
                        li
                            p Nguồn động lực được xem là nguồn tài sản vô giá đối với mỗi doanh nghiệp một doanh nghiệp có nguồn nhân lực chất lượng, và được vận hành hiệu quả sẽ tác động rất nhiều đến sự thất bại của Doanh nghiệp đó.


section.service-detail-3
    .container
        .section-title
            span Gió khám sức khỏe tổng quát cơ bản cho doanh nghiệp
            em.mdi.mdi-gamepad
                span
                span
        .row
            .col.w-full(class='lg:w-10/12')
                .card-body
                    table.table.table-striped.table-responsive
                        thead
                            tr
                                th(scope='col') STT
                                |
                                th(scope='col') Gói khám
                                |
                                th(scope='col') Ghi chú
                            |
                        
                        tbody
                            tr
                                td 1
                                |
                                td 
                                    p Dịch vụ lâm sàng
                                |
                                td 
                                    p
                            tr
                                td
                                |
                                td
                                    ul.sce-detail-table
                                        li
                                            p Khám Nội, Ngoài tổng quát, Da liễu
                                |
                                td 
                                    p __

                            tr
                                td
                                |
                                td
                                    ul.sce-detail-table
                                        li
                                            p Khám với Bác sĩ Chuyên khoa mắt
                                |
                                td 
                                    p Sôi mắt, đo mắt, đo khúc xạ

                            tr
                                td
                                |
                                td
                                    ul.sce-detail-table
                                        li
                                            p Khám Nội, Ngoài tổng quát, Da liễu
                                |
                                td 
                                    p Phát hiện sâu răng, viêm lợi... Tư vấn phòng ngừa các bệnh răng, viêm răng, viêm nha chu, bệnh về tủy răng

                            tr
                                td
                                |
                                td
                                    ul.sce-detail-table
                                        li
                                            p Khám với Bác sĩ Chuyên khoa mắt
                                |
                                td 
                                    p Sôi mắt, đo mắt, đo khúc xạ

                            tr
                                td
                                |
                                td
                                    ul.sce-detail-table
                                        li
                                            p Khám Nội, Ngoài tổng quát, Da liễu
                                |
                                td 
                                    p Phát hiện sâu răng, viêm lợi... Tư vấn phòng ngừa các bệnh răng, viêm răng, viêm nha chu, bệnh về tủy răng

                            tr
                                td
                                |
                                td
                                    ul.sce-detail-table
                                        li
                                            p Khám với Bác sĩ Chuyên khoa mắt
                                |
                                td 
                                    p Sôi mắt, đo mắt, đo khúc xạ

                            tr
                                td
                                |
                                td
                                    ul.sce-detail-table
                                        li
                                            p Khám Nội, Ngoài tổng quát, Da liễu
                                |
                                td 
                                    p Phát hiện sâu răng, viêm lợi... Tư vấn phòng ngừa các bệnh răng, viêm răng, viêm nha chu, bệnh về tủy răng

                            tr
                                td
                                |
                                td
                                    ul.sce-detail-table
                                        li
                                            p Khám với Bác sĩ Chuyên khoa mắt
                                |
                                td 
                                    p Sôi mắt, đo mắt, đo khúc xạ

                            tr
                                td
                                |
                                td
                                    ul.sce-detail-table
                                        li
                                            p Khám với Bác sĩ Chuyên khoa mắt
                                |
                                td 
                                    p Phát hiện sâu răng, viêm lợi... Tư vấn phòng ngừa các bệnh răng, viêm răng, viêm nha chu, bệnh về tủy răng
                        tbody
                            tr
                                td 2
                                |
                                td 
                                    p Xét nghiệm tế bào máu
                                |
                                td 
                                    p
                            |
                            tr
                                td
                                |
                                td
                                    ul.sce-detail-table
                                        li
                                            p Khám Nội, Ngoài tổng quát, Da liễu
                                |
                                td 
                                    p __
                            |
                            tr
                                td
                                |
                                td
                                    ul.sce-detail-table
                                        li
                                            p Khám Nội, Ngoài tổng quát, Da liễu
                                |
                                td 
                                    p __
                        tbody
                            tr
                                td 3
                                |
                                td 
                                    p Xét nghiệm lượng mỡ trong bào máu
                                |
                                td 
                                    p
                            tr
                                td
                                |
                                td
                                    ul.sce-detail-table
                                        li
                                            p Khám Nội, Ngoài tổng quát, Da liễu
                                |
                                td 
                                    p __

                            tr
                                td
                                |
                                td
                                    ul.sce-detail-table
                                        li
                                            p Khám Nội, Ngoài tổng quát, Da liễu
                                |
                                td 
                                    p __
                        tbody
                            tr
                                td 4
                                |
                                td 
                                    p Kiểm tra chức năng thận
                                |
                                td 
                                    p
                            tr
                                td
                                |
                                td
                                    ul.sce-detail-table
                                        li
                                            p Khám Nội, Ngoài tổng quát, Da liễu
                                |
                                td 
                                    p __

                            tr
                                td
                                |
                                td
                                    ul.sce-detail-table
                                        li
                                            p Khám Nội, Ngoài tổng quát, Da liễu
                                |
                                td 
                                    p __
                        tbody
                            tr
                                td 5
                                |
                                td 
                                    p Kiểm tra chức năng gan
                                |
                                td 
                                    p
                            tr
                                td
                                |
                                td
                                    ul.sce-detail-table
                                        li
                                            p Khám Nội, Ngoài tổng quát, Da liễu
                                |
                                td 
                                    p __

                            tr
                                td
                                |
                                td
                                    ul.sce-detail-table
                                        li
                                            p Khám Nội, Ngoài tổng quát, Da liễu
                                |
                                td 
                                    p __
                        tbody
                            tr
                                td 6
                                |
                                td 
                                    p Xét nghiệm phụ khoa
                                |
                                td 
                                    p
                            tr
                                td
                                |
                                td
                                    ul.sce-detail-table
                                        li
                                            p Khám Nội, Ngoài tổng quát, Da liễu
                                |
                                td 
                                    p __

                            tr
                                td
                                |
                                td
                                    ul.sce-detail-table
                                        li
                                            p Khám Nội, Ngoài tổng quát, Da liễu
                                |
                                td 
                                    p __


section.service-detail-4
    .container
        .section-title
            span Khách hàng
            em.mdi.mdi-gamepad
                span
                span
        .sub-text 
            p Phòng khám Bệnh viện Đai Học Y Dược 1 hoạt động với phương trâm "ĐIỀU TRỊ CHUYÊN NGHIỆP - NÂNG TẦM VIỆT" với mong muốn mang đến dịch vụ y tế hiện đại, chất lượng, chuyên nghiệp đến khách hàng
            p Trong thời gian qua phòng khám đã được rất nhiều Doanh Nghiệp tin tưởng và chọn là nơi chăm sóc sức khỏe cho cán bộ nhân viên. Trong thời gian điều trị tới phòng khám sẽ không ngừng nỗ lực để ngày càng nâng cao hơn nữa chất lượng dịch vụ để xứng đáng với sự tin tưởng doanh nghiệp
        .silde-service-detail
            .swiper-container
                .swiper-wrapper
                    -for(i=0;i<12;i++)
                        .swiper-slide
                            .image-wrap
                                a(href="#")
                                    img(data-src="./img/service-detail/brand-2.png", alt="").swiper-lazy
            .swiper-nav-wrap
                .nav-arrow-prev
                    .icon-chevron-left
                .nav-arrow-next
                    .icon-chevron-right

section.service-detail-5
    .container
        .section-title
            span Dịch vụ khác
            em.mdi.mdi-gamepad
                span
                span
        .row
            -for(i=0;i<3;i++)
                .col(class="w-full lg:w-4/12")
                    .news-figure
                        .image-wrap.opacity
                            a(href="#")
                                img(data-src="./img/service/1.jpg", alt="").lazyload
                        .content
                            .title
                                a(href="#") Khám sức khỏe tổng quát và tầm soát ung thư
        .service-check-banner
            .image-wrap
                a(href="#")
                    img(src="./img/service-detail/bg.png", alt="")
            .banner-content
                .brand-logo
                    a(href="#")
                        img(src="./img/logo-ico.png", alt="")
                h2.name Phòng khám bệnh viên đại học y dược
                .phone-wrap
                    em.mdi.mdi-phone-in-talk
                    span 1800 6023
                .text Thời giam làm việc
                .time-wrap
                    .item
                        span Từ thứ hai - Thứ bảy 
                    .item
                        em.mdi.mdi-clock-outline
                        span 07: 30 - 16: 30
                .btn-center
                    a(href="#").btn.btn-booking
                        span Đặt lịch khám 
                        em.mdi.mdi-calendar

